# Copy this file to .env and fill in your credentials
# This file is NOT committed to version control

TEST_ENV=dev
LINKEDIN_EMAIL=adityamansana@yahoo.com
LINKEDIN_PASSWORD=_Mansana1987_
HEADLESS=false
LOG_LEVEL=debug
